header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(2px);
  font-family: Roboto;
}
header .logo-href {
  text-decoration: none;
}
header .logo-href .logo-rectang {
  width: 81px;
  height: 50px;
  margin-left: 219px;
  margin-top: 14px;
  color: rgb(255, 255, 255);
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
header .logo-href .logo-rectang .logo-text {
  box-sizing: border-box;
  margin: 3.55px 4.75px 3.55px 4.75px;
  width: 72.49px;
  height: 44.91px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
header .logo-href .logo-rectang .logo-text .bamboo {
  position: absolute;
  margin-left: 4.8px;
  margin-top: 17.9px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  width: 1072px;
  margin-left: 365px;
  margin-top: -36px;
}
header .navbar a {
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 58px;
  text-decoration: none;
}
header .navbar .active {
  color: rgb(249, 128, 75);
}
header .navbar .designed {
  margin-left: auto;
}

@media (max-width: 1599px) {
  header {
    width: 100%;
  }
  header .logo-href .logo-rectang {
    margin-left: 3%;
  }
  header .navbar {
    margin-left: 17.5%;
    width: 84.2%;
  }
  header .navbar a {
    margin-right: 5.7%;
  }
}
@media (max-width: 999px) {
  header {
    width: 100%;
    height: 34px;
    z-index: 15;
  }
  header .logo-href .logo-rectang {
    width: 46px;
    height: 29px;
    margin-top: 0.1%;
  }
  header .logo-href .logo-rectang .logo-text {
    font-size: 12px;
    margin-left: -28%;
    margin-top: 0;
  }
  header .logo-href .logo-rectang .logo-text .bamboo {
    width: 10px;
    height: 19px;
    margin-top: 1%;
    margin-left: 0.1%;
  }
  header .navbar {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 400px;
    transform: translate(-100%, 0px);
    padding-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    transition: left 0.3s ease 0s;
  }
  header .navbar a {
    margin-top: 5%;
    margin-left: 4%;
  }
  header .navbar .designed {
    margin-left: 4%;
  }
  header .active {
    transform: translate(0px, 0px);
  }
  header .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 18px;
    height: 10px;
    cursor: pointer;
    margin-left: 94%;
    margin-top: -3%;
  }
  header .menu__icon span,
header .menu__icon::before,
header .menu__icon::after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    transition: all 0.5s ease 0s;
    background-color: #fff;
  }
  header .menu__icon::before,
header .menu__icon::after {
    content: "";
  }
  header .menu__icon::before {
    top: 0;
  }
  header .menu__icon::after {
    bottom: 0;
  }
  header .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  header .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  header .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  header .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 639px) {
  header {
    width: 100%;
    height: 34px;
    margin-left: 0;
  }
  header .logo-href .logo-rectang {
    margin-left: 3%;
    margin-top: 1%;
    border: none;
  }
  header .menu__icon {
    margin-top: -6%;
    margin-left: 91%;
  }
}
@media (max-width: 320px) {
  header {
    width: 100%;
  }
}
.bigpanda {
  width: 1600px;
  height: 390px;
  margin-top: 68px;
  margin-left: -8px;
}

@media (max-width: 1599px) {
  .bigpanda {
    object-fit: cover;
    width: 100%;
    height: 390px;
    margin-left: 0;
  }
}
@media (max-width: 999px) {
  .bigpanda {
    height: 335px;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    margin-top: 4%;
  }
}
@media (max-width: 639px) {
  .bigpanda {
    height: 200px;
  }
}
.pick-feed {
  margin-left: -8px;
  margin-top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1482px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}
.pick-feed .info-text {
  position: absolute;
  margin-top: -1070px;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 100px;
}
.pick-feed .info-text .donate-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
}
.pick-feed .info-text .donate-info-text {
  margin-top: -12px;
  margin-bottom: 45px;
  width: 1160px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.pick-feed .info-text .donate-info-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #FE9013;
}
.pick-feed .inner-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: -5px;
  margin-top: 155px;
  height: 964px;
  width: 1160px;
  left: 220px;
  top: 69px;
  font-family: "Roboto";
  font-style: normal;
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
}
.pick-feed .inner-window .pick-title {
  margin-top: 45px;
  margin-left: -5px;
  width: 550px;
  height: 58px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}
.pick-feed .inner-window .first-parag {
  margin-top: -30px;
  margin-left: -115px;
  width: 860px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  text-align: center;
}
.pick-feed .inner-window .animal-diet {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.pick-feed .inner-window .animal-diet .diet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 33px;
}
.pick-feed .inner-window .animal-diet .diet-info h1 {
  margin-top: 45px;
  margin-left: -43px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.pick-feed .inner-window .animal-diet .diet-info p {
  margin-top: -40px;
  margin-left: -42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41;
}
.pick-feed .inner-window .animal-diet .multiply {
  margin-left: 8px;
  margin-right: 30px;
}
.pick-feed .inner-window .animal-diet .small-panda {
  margin-left: 30px;
  margin-top: -25px;
}
.pick-feed .inner-window .radio-amount {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick-feed .inner-window .radio-amount .amount-title {
  position: absolute;
  left: 0;
  margin-left: 100px;
  margin-top: -70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.pick-feed .inner-window .radio-amount .line {
  width: 915px;
  height: 2px;
  background: #72828E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3px;
  margin-left: -3px;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons {
  display: flex;
  align-items: flex-start;
  margin-left: -5px;
  margin-top: -7px;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons label {
  margin-top: 56px;
  margin-left: -23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #333B41;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons label img {
  display: none;
  position: absolute;
  margin-top: -45px;
  margin-left: 11px;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons label:has(input:checked) {
  color: #FE9013;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons label:has(input:checked) img {
  display: block;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: none;
  background: #FFEE2E;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 117px;
  margin-left: 26px;
  margin-bottom: 15px;
  position: relative;
  top: 4px;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons button,
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons button:hover,
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons button:focus {
  color: #999;
}
.pick-feed .inner-window .radio-amount .line .amount-radio-buttons button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
.pick-feed .inner-window input::-webkit-outer-spin-button,
.pick-feed .inner-window input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.pick-feed .inner-window input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}
.pick-feed .inner-window .amount {
  margin-top: 40px;
  box-sizing: border-box;
  height: 54px;
  width: 268px;
  padding-left: 10px;
  border: 1px solid #929699;
  background: transparent;
  border-radius: 2px;
  outline: none;
  margin-bottom: 30px;
}
.pick-feed .inner-window .dollar {
  position: absolute;
  margin-left: 240px;
  margin-top: 682px;
}
.pick-feed .inner-window .radio-buttons {
  display: flex;
  align-items: flex-start;
  margin-left: 29px;
  margin-top: -35px;
  margin-bottom: 15px;
}
.pick-feed .inner-window .radio-buttons label {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
  margin-right: 44px;
}
.pick-feed .inner-window .radio-buttons input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #FE9013;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 9px;
  position: relative;
  top: 4px;
}
.pick-feed .inner-window .radio-buttons input:checked {
  border: 6px solid #FE9013;
}
.pick-feed .inner-window .radio-buttons button,
.pick-feed .inner-window .radio-buttons legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}
.pick-feed .inner-window .radio-buttons button:hover,
.pick-feed .inner-window .radio-buttons button:focus {
  color: #999;
}
.pick-feed .inner-window .radio-buttons button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
.pick-feed .inner-window .share {
  margin-top: 15px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.pick-feed .inner-window .feed-button {
  cursor: pointer;
  margin-left: 10px;
  border: none;
  height: 54px;
  width: 298px;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1599px) {
  .pick-feed {
    width: 100%;
    height: 1333px;
    margin-left: 0;
    margin-top: -0.4%;
  }
  .pick-feed .info-text {
    margin-left: -7%;
    margin-top: -90%;
  }
  .pick-feed .info-text .donate-title {
    margin-left: 9.3%;
    margin-top: 8%;
    width: 75%;
  }
  .pick-feed .info-text .donate-info-text {
    width: 87%;
    margin-left: 10%;
    margin-top: 3%;
  }
  .pick-feed .info-text .donate-info-title {
    margin-left: 9.5%;
  }
  .pick-feed .inner-window {
    width: 95%;
    height: 918px;
    margin-top: 37%;
  }
  .pick-feed .inner-window .pick-title {
    margin-top: 2%;
  }
  .pick-feed .inner-window .first-parag {
    margin-left: 0;
    margin-top: -2%;
  }
  .pick-feed .inner-window .animal-diet {
    margin-top: 6%;
  }
  .pick-feed .inner-window .radio-amount {
    width: 87%;
    margin-top: 4%;
    margin-bottom: 5%;
  }
  .pick-feed .inner-window .radio-amount .amount-title {
    margin-left: 7%;
  }
  .pick-feed .inner-window .radio-amount .line {
    width: 98%;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons .hide-label {
    display: none;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons .hide-label .hide-input {
    display: none;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons label {
    margin-left: -1%;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons label:has(input:checked) img {
    margin-left: 0.7%;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons input {
    margin-left: 15%;
    margin-right: 118px;
  }
  .pick-feed .inner-window .amount {
    margin-top: 0;
  }
  .pick-feed .inner-window .dollar {
    margin-top: 69.5%;
  }
  .pick-feed .inner-window .radio-buttons {
    margin-top: 1%;
  }
  .pick-feed .inner-window .share {
    margin-top: 3%;
  }
  .pick-feed .inner-window .feed-button {
    margin-top: 2%;
  }
}
@media (max-width: 999px) {
  .pick-feed .info-text .donate-title {
    margin-top: -40%;
    width: 90%;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .pick-feed .info-text .donate-info-title {
    margin-top: -3%;
  }
  .pick-feed .inner-window {
    margin-top: 53%;
  }
  .pick-feed .inner-window .pick-title {
    margin-top: 5%;
  }
  .pick-feed .inner-window .first-parag {
    text-align: center;
    width: 90%;
  }
  .pick-feed .inner-window .animal-diet {
    margin-top: 13%;
  }
  .pick-feed .inner-window .radio-amount {
    width: 100%;
    margin-top: 4%;
  }
  .pick-feed .inner-window .radio-amount .amount-title {
    margin-top: -6%;
    margin-left: 2%;
  }
  .pick-feed .inner-window .radio-amount .line {
    width: 90%;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons {
    margin-left: -2%;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons .hide-two-lab {
    display: none;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons .hide-two-lab .hide-two-inp {
    display: none;
  }
  .pick-feed .inner-window .amount {
    width: 180px;
    height: 42px;
    margin-top: 7%;
  }
  .pick-feed .inner-window .dollar {
    margin-top: 107%;
    margin-left: 27%;
  }
  .pick-feed .inner-window .feed-button {
    margin-top: 4%;
  }
  .pick-feed .inner-window .share {
    margin-top: 3%;
  }
}
@media (max-width: 639px) {
  .pick-feed {
    margin-top: -1.3%;
    height: 1145px;
  }
  .pick-feed .info-text {
    margin-top: -110%;
  }
  .pick-feed .info-text .donate-info-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .pick-feed .inner-window {
    margin-top: 170%;
    width: 98%;
    height: 591px;
  }
  .pick-feed .inner-window .pick-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-top: 8%;
  }
  .pick-feed .inner-window .first-parag {
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: -6%;
  }
  .pick-feed .inner-window .animal-diet {
    margin-top: 7%;
  }
  .pick-feed .inner-window .animal-diet .diet-info {
    margin-top: -10%;
    margin-left: 10%;
  }
  .pick-feed .inner-window .animal-diet .diet-info h1 {
    font-weight: 500;
    font-size: 40.6015px;
    line-height: 80%;
  }
  .pick-feed .inner-window .animal-diet .diet-info p {
    margin-top: -47%;
    width: 90px;
    font-weight: 400;
    font-size: 9.02255px;
    line-height: 140%;
  }
  .pick-feed .inner-window .animal-diet .multiply {
    margin-top: -3%;
    margin-left: 1%;
    width: 8px;
    height: 8px;
  }
  .pick-feed .inner-window .animal-diet .small-panda {
    margin-left: 2%;
    width: 170px;
    height: 140px;
  }
  .pick-feed .inner-window .radio-amount {
    margin-top: -5%;
    height: 13.5px;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons label {
    margin-top: 11%;
    font-size: 13px;
    line-height: 140%;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons label img {
    margin-top: -9.4%;
    width: 20px;
    height: 20px;
  }
  .pick-feed .inner-window .radio-amount .line .amount-radio-buttons input {
    margin-right: 60px;
  }
  .pick-feed .inner-window .amount {
    margin-top: 10%;
  }
  .pick-feed .inner-window .dollar {
    margin-top: 114%;
    margin-left: 50%;
  }
  .pick-feed .inner-window .feed-button {
    margin-left: 0;
  }
  .pick-feed .inner-window .share {
    margin-left: 2%;
    margin-top: 2%;
    width: 310px;
    font-weight: 400;
    font-size: 16px;
  }
}
html {
  overflow-x: hidden;
}

@media (max-width: 1599px) {
  html {
    overflow-x: hidden;
  }
}
footer {
  position: relative;
  z-index: 5;
  bottom: 0px;
  width: 1600px;
  height: 443px;
  margin-left: -8px;
  background: #111115;
}
footer .foot-logo-href {
  text-decoration: none;
}
footer .foot-logo-href .logo-rectang {
  position: absolute;
  width: 81px;
  height: 50px;
  margin-left: 219px;
  margin-top: 40px;
  color: rgb(255, 255, 255);
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
footer .foot-logo-href .logo-rectang .logo-text {
  box-sizing: border-box;
  margin: 3px 4.75px 3.55px 4.75px;
  width: 72.49px;
  height: 44.91px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
footer .foot-logo-href .logo-rectang .logo-text .bamboo {
  position: absolute;
  margin-left: 4.8px;
  margin-top: 17.9px;
}
footer .subscribe {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  margin-top: 25px;
  margin-left: 1010px;
}
footer .subscribe h1 {
  width: 250px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
footer .subscribe .form {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .subscribe .form ::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}
footer .subscribe .form .formRectan {
  padding-left: 10px;
  margin-right: 20px;
  margin-top: -4px;
  margin-left: 3px;
  height: 40px;
  width: 215px;
  border-radius: 2px;
  border: 0.7px solid rgb(249, 128, 75);
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}
footer .subscribe .form .formRectan p {
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}
footer .subscribe .form .submit {
  cursor: pointer;
  margin-left: -25px;
  margin-top: -5px;
  height: 42px;
  width: 129px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .subscribe .form .submit h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
}
footer .donate {
  position: absolute;
  margin-top: 160px;
  margin-left: 220px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
footer .donate h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .social {
  position: absolute;
  margin-top: 259px;
  margin-left: 221px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .social .each {
  width: 110px;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 10px;
}
footer .social .each a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
footer .social .each a .bg-elips {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social .each a .social-name {
  width: 73px;
  height: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: #FFFFFF;
}
footer .footer-bar {
  position: absolute;
  margin-left: 617px;
  margin-top: 372px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 365px;
}
footer .footer-bar a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
footer .designed-by {
  position: absolute;
  margin-top: 350px;
  margin-left: 1152px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  width: 260px;
}
footer .designed-by p {
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  margin-top: -7px;
}

@media (max-width: 1599px) {
  footer {
    width: 100%;
    margin-top: 0%;
    margin-left: 0;
  }
  footer .foot-logo-href .logo-rectang {
    margin-left: 3%;
  }
  footer .subscribe {
    margin-left: 58%;
  }
  footer .donate {
    margin-left: 3%;
  }
  footer .social {
    margin-left: 3%;
  }
  footer .footer-bar {
    margin-left: 33%;
    width: 33%;
  }
  footer .designed-by {
    margin-left: 75%;
  }
}
@media (max-width: 999px) {
  footer {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 282px;
  }
  footer .foot-logo-href .logo-rectang {
    margin-top: 2%;
    margin-left: 2%;
  }
  footer .subscribe {
    display: none;
  }
  footer .donate {
    margin-top: 16%;
    margin-left: 2%;
  }
  footer .social {
    margin-left: 94%;
    margin-top: 2%;
  }
  footer .social .each {
    margin-bottom: 18%;
  }
  footer .social .each a .social-name {
    display: none;
  }
  footer .footer-bar {
    width: 48%;
    margin-left: 2%;
    margin-top: 40%;
  }
  footer .designed-by {
    margin-left: 61.5%;
    margin-top: 36%;
  }
}
@media (max-width: 639px) {
  footer {
    width: 100%;
    height: 334px;
    margin-left: 0;
    margin-top: 0;
  }
  footer .foot-logo-href .logo-rectang {
    margin-left: 16%;
    margin-top: 6%;
    border: none;
  }
  footer .foot-logo-href .logo-rectang .logo-text {
    width: 200px;
    font-size: 19px;
  }
  footer .foot-logo-href .logo-rectang .logo-text .bamboo {
    margin-left: 90%;
    margin-top: -5%;
  }
  footer .donate {
    margin-top: 42%;
    margin-left: 1%;
  }
  footer .social {
    flex-direction: row;
    margin-left: 18%;
    width: 75%;
    margin-top: 24%;
  }
  footer .footer-bar {
    margin-top: 96%;
    margin-left: 5%;
    width: 90%;
  }
  footer .designed-by {
    margin-top: 73%;
    margin-left: 29%;
  }
  footer .designed-by p {
    font-weight: 100;
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
