$black-color: rgba(0,0,0,1);
header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: $black-color;
  backdrop-filter: blur(2px);
  font-family: Roboto;
  .logo-href{
    text-decoration: none;
    .logo-rectang {
      width: 81px;
      height: 50px;
      margin-left: 219px;
      margin-top: 14px;
      color: rgba(255,255,255,1);
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      .logo-text{
        box-sizing: border-box;
        margin: 3.55px 4.75px 3.55px 4.75px;
        width: 72.49px;
        height: 44.91px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        .bamboo{
          position: absolute;
          margin-left: 4.8px;
          margin-top: 17.9px;
        }
      }
    }
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    width: 1072px;
    margin-left: 365px;
    margin-top: -36px;
    a{
      color: #FFFFFF;
      cursor: pointer;
      margin-right: 58px;
      text-decoration: none;
    }
    .active{
      color: rgba(249, 128, 75, 1);
    }
    .designed{
      margin-left: auto;
    }
  }
}

@media (max-width: 1599px) {
  header{
    width: 100%;
    .logo-href{
      .logo-rectang{
        margin-left: 3%;
      }
    }
    .navbar{
      margin-left: 17.5%;
      width: 84.2%;
      a{
        margin-right: 5.7%;
      }
    }
  }
}

@media (max-width: 999px) {
  header{
    width: 100%;
    height: 34px;
    z-index: 15;
    .logo-href{
      .logo-rectang{
        width: 46px;
        height: 29px;
        margin-top: 0.1%;
        .logo-text{
          font-size: 12px;
          margin-left: -28%;
          margin-top: 0;
          .bamboo{
            width: 10px;
            height: 19px;
            margin-top: 1%;
            margin-left: 0.1%;
          }
        }
      }
    }
    .navbar{
      position: fixed;
      //margin-top: 10px;
      margin-top: 0;
      margin-left: 0;
      //left: -100%;
      width: 100%;
      height: 400px;
      transform: translate(-100%, 0px);
      padding-bottom: 10%;
      background-color: rgba(0,0,0,0.9);
      flex-direction: column;
      transition: left 0.3s ease 0s;

      a{
        margin-top: 5%;
        margin-left: 4%;

      }
      .designed{
        margin-left: 4%;
      }
    }
    .active{
      transform: translate(0px, 0px);
    }
    .menu__icon{
      z-index: 5;
      display: block;
      position: relative;
      width: 18px;
      height: 10px;
      cursor: pointer;
      margin-left: 94%;
      margin-top: -3%;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
      left: 0;
      position: absolute;
      height: 20%;
      width: 100%;
      transition: all 0.5s ease 0s;
      background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after{
      content: '';
    }
    .menu__icon::before{
      top: 0;
    }
    .menu__icon::after{
      bottom: 0;
    }
    .menu__icon span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  }
}

@media (max-width: 639px) {
  header{
    width: 100%;
    height: 34px;
    margin-left: 0;
    .logo-href{
      .logo-rectang{
        margin-left: 3%;
        margin-top: 1%;
        border: none;
      }
    }
    .menu__icon{
      margin-top: -6%;
      margin-left: 91%;
    }
  }
}

@media (max-width: 320px) {
  header{
    width: 100%;
  }
}

.bigpanda {
  width: 1600px;
  height: 390px;
  margin-top: 68px;
  margin-left: -8px;
}

@media (max-width: 1599px) {
  .bigpanda{
    object-fit: cover;
    width: 100%;
    height: 390px;
    margin-left: 0;
  }
}

@media (max-width: 999px) {
  .bigpanda{
    height: 335px;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    margin-top: 4%;
  }
}

@media (max-width: 639px){
  .bigpanda{
    height: 200px;
  }
}

.pick-feed {
  margin-left: -8px;
  margin-top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1482px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  .info-text{
    position: absolute;
    margin-top: -1070px;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 100px;
    .donate-title{
      font-weight: 400;
      font-size: 36px;
      line-height: 47px;
      color: #FFFFFF;
    }
    .donate-info-text{
      margin-top: -12px;
      margin-bottom: 45px;
      width: 1160px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }
    .donate-info-title{
      font-weight: 400;
      font-size: 36px;
      line-height: 47px;
      color: #FE9013;
    }
  }
  .inner-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: -5px;
    margin-top: 155px;
    height: 964px;
    width: 1160px;
    left: 220px;
    top: 69px;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    .pick-title{
      //margin-top: -280px;
      //margin-left: -10px;
      margin-top: 45px;
      margin-left: -5px;
      width: 550px;
      height: 58px;
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      color: #FE9013;
    }
    .first-parag{
      //margin-left: -115px;
      //margin-top: -15px;
      margin-top: -30px;
      margin-left: -115px;
      width: 860px;
      height: 29px;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #333B41;
      text-align: center;
    }
    .animal-diet{
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .diet-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 33px;
        h1{
          margin-top: 45px;
          margin-left: -43px;
          font-weight: 500;
          font-size: 72px;
          line-height: 80%;
          text-align: center;
          text-transform: uppercase;
          color: #000000;
        }
        p{
          margin-top: -40px;
          margin-left: -42px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #333B41;
        }
      }
      .multiply{
        margin-left: 8px;
        margin-right: 30px;

      }
      .small-panda{
        margin-left: 30px;
        margin-top: -25px;
      }
    }
    .radio-amount{
      width: 976px;
      height: 27px;
      background: #404950;
      border-radius: 2px;
      margin-bottom: 40px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .amount-title{
        position: absolute;
        left: 0;
        margin-left: 100px;
        margin-top: -70px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
      }
        .line{
          width: 915px;
          height: 2px;
          background: #72828E;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: -3px;
          margin-left: -3px;
          .amount-radio-buttons{
            display: flex;
            align-items: flex-start;
            margin-left: -5px;
            margin-top: -7px;

            label{
              margin-top: 56px;
              margin-left: -23px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 26px;
              line-height: 140%;
              color: #333B41;
              img{
                display: none;
                position: absolute;
                margin-top: -45px;
                margin-left: 11px;
              }
            }

                label:has(input:checked){
                  color: #FE9013;
                  img{
                    display: block;
                  }
                }

                input {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  cursor: pointer;
                  border-radius: 50%;
                  width: 5px;
                  height: 5px;

                  //border: 1px solid #FE9013;
                  border: none;
                  background: #FFEE2E;
                  transition: 0.2s all linear;
                  outline: none;
                  margin-right: 117px;
                  margin-left: 26px;
                  margin-bottom: 15px;
                  position: relative;
                  top: 4px;
                }

                input:checked{
                  //outline: 3px solid #FE9013;
                }

                button,
                legend {
                  color: white;
                  background-color: black;
                  padding: 5px 10px;
                  border-radius: 0;
                  border: 0;
                  font-size: 14px;
                }

                button:hover,
                button:focus {
                  color: #999;
                }

                button:active {
                  background-color: white;
                  color: black;
                  outline: 1px solid black;
                }
              }
            }
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input::placeholder{
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #929699;
    }
    .amount{
      //margin-top: 110px;
      margin-top: 40px;
      box-sizing: border-box;
      height: 54px;
      width: 268px;
      padding-left: 10px;
      border: 1px solid #929699;
      background: transparent;
      border-radius: 2px;
      outline: none;
      margin-bottom: 30px;
    }
    .dollar{
      position: absolute;
      margin-left: 240px;
      margin-top: 682px;
    }
    .radio-buttons{
      display: flex;
      align-items: flex-start;
      margin-left: 29px;
      margin-top: -35px;
      margin-bottom: 15px;
      label {
        margin-top: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #333B41;
        margin-right: 44px;
      }

      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        border-radius: 50%;
        width: 16px;
        height: 16px;

        border: 1px solid #FE9013;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 9px;

        position: relative;
        top: 4px;
      }

      input:checked {
        border: 6px solid #FE9013;
      }

      button,
      legend {
        color: white;
        background-color: black;
        padding: 5px 10px;
        border-radius: 0;
        border: 0;
        font-size: 14px;
      }

      button:hover,
      button:focus {
        color: #999;
      }

      button:active {
        background-color: white;
        color: black;
        outline: 1px solid black;
      }
    }
    .share{
      margin-top: 15px;
      margin-bottom: 60px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #333B41;
    }
    .feed-button{
      cursor: pointer;
      margin-left: 10px;
      border: none;
      height: 54px;
      width: 298px;
      border-radius: 25px;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 1599px) {
  .pick-feed{
    width: 100%;
    height: 1333px;
    margin-left: 0;
    margin-top: -0.4%;
    .info-text{
      margin-left: -7%;
      margin-top: -90%;
      .donate-title{
        margin-left: 9.3%;
        margin-top: 8%;
        width: 75%;
      }
      .donate-info-text{
        width: 87%;
        margin-left: 10%;
        margin-top: 3%;
      }
      .donate-info-title{
        margin-left: 9.5%;
      }
    }
    .inner-window{
      width: 95%;
      height: 918px;
      margin-top: 37%;
      .pick-title{
        margin-top: 2%;
      }
      .first-parag{
        margin-left: 0;
        margin-top: -2%;
      }
      .animal-diet{
        margin-top: 6%;
      }
      .radio-amount{
        width: 87%;
        margin-top: 4%;
        margin-bottom: 5%;
        .amount-title{
          margin-left: 7%;
        }
        .line{
          width: 98%;
          .amount-radio-buttons{
            .hide-label{
              display: none;
              .hide-input{
                display: none;
              }
            }
            label{
              margin-left: -1%;
            }
            label:has(input:checked){
              img{
                margin-left: 0.7%;
              }
            }
            input{
              margin-left: 15%;
              margin-right: 118px;
            }
          }
        }
      }
      .amount{
        margin-top: 0;
      }
      .dollar{
        margin-top: 69.5%;
      }
      .radio-buttons{
        margin-top: 1%;
      }
      .share{
        margin-top: 3%;
      }
      .feed-button{
        margin-top: 2%;
      }
    }
  }
}

@media (max-width: 999px) {
  .pick-feed{
    .info-text{
      .donate-title{
        margin-top: -40%;
        width: 90%;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
      }
      .donate-info-title{
        margin-top: -3%;
      }
    }
    .inner-window{
      margin-top: 53%;
      .pick-title{
        margin-top: 5%;
      }
      .first-parag{
        text-align: center;
        width: 90%;
      }
      .animal-diet{
        margin-top: 13%;
      }
      .radio-amount{
        width: 100%;
        margin-top: 4%;
        .amount-title{
          margin-top: -6%;
          margin-left: 2%;
        }
        .line{
          width: 90%;
          .amount-radio-buttons{
            margin-left: -2%;
            .hide-two-lab{
              display: none;
              .hide-two-inp{
                display: none;
              }
            }
          }
        }
      }
      .amount{
        width: 180px;
        height: 42px;
        margin-top: 7%;
      }
      .dollar{
        margin-top: 107%;
        margin-left: 27%;
      }
      .feed-button{
        margin-top: 4%;
      }
      .share{
        margin-top: 3%;
      }
    }
  }
}

@media (max-width: 639px) {
  .pick-feed{
    margin-top: -1.3%;
    height: 1145px;
    .info-text{
      margin-top: -110%;
      .donate-info-title{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
      }
    }
    .inner-window{
      margin-top: 170%;
      width: 98%;
      height: 591px;
      .pick-title{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin-top: 8%;
      }
      .first-parag{
        text-align: center;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-top: -6%;
      }
      .animal-diet{
        margin-top: 7%;
        .diet-info{
          margin-top: -10%;
          margin-left: 10%;
          h1{
            font-weight: 500;
            font-size: 40.6015px;
            line-height: 80%;
          }
          p{
            margin-top: -47%;
            width: 90px;
            font-weight: 400;
            font-size: 9.02255px;
            line-height: 140%;
          }
        }
        .multiply{
          margin-top: -3%;
          margin-left: 1%;
          width: 8px;
          height: 8px;
        }
        .small-panda{
          margin-left: 2%;
          width: 170px;
          height: 140px;
        }
      }
      .radio-amount{
        margin-top: -5%;
        height: 13.5px;
        .line{
          .amount-radio-buttons{
            label{
              margin-top: 11%;
              font-size: 13px;
              line-height: 140%;
              img{
                margin-top: -9.4%;
                width: 20px;
                height: 20px;
              }
            }
            input{
              margin-right: 60px;
            }
          }
        }
      }
      .amount{
      margin-top: 10%;
      }
      .dollar{
        margin-top: 114%;
        margin-left: 50%;
      }
      .radio-buttons{

      }
      .feed-button{
        margin-left: 0;
      }
      .share{
        margin-left: 2%;
        margin-top: 2%;
        width: 310px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

html{
  overflow-x: hidden;
}

@media (max-width: 1599px) {
  html{
    overflow-x: hidden;
  }
}

footer{
  position: relative;
  z-index: 5;
  bottom: 0px;
  width: 1600px;
  height: 443px;
  margin-left: -8px;
  //margin-top: 180px;
  background: #111115;
  .foot-logo-href{
    text-decoration: none;
    .logo-rectang {
      position: absolute;
      width: 81px;
      height: 50px;
      margin-left: 219px;
      margin-top: 40px;
      color: rgba(255,255,255,1);
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      .logo-text{
        box-sizing: border-box;
        margin: 3px 4.75px 3.55px 4.75px;
        width: 72.49px;
        height: 44.91px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        .bamboo{
          position: absolute;
          margin-left: 4.8px;
          margin-top: 17.9px;
        }
      }
    }
  }

  .subscribe{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 25px;
    margin-left: 1010px;
    h1{
      width: 250px;
      height: 29px;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #FFFFFF;
    }
    .form{
      width: 370px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #BDBDBD;
      }
      .formRectan{
        padding-left: 10px;
        margin-right: 20px;
        margin-top: -4px;
        margin-left: 3px;
        height: 40px;
        width: 215px;
        border-radius: 2px;
        border: 0.7px solid rgba(249, 128, 75, 1);
        display: flex;
        align-items: center;
        background: transparent;
        outline: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #BDBDBD;
        p{
          margin-left: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #BDBDBD;
        }
      }
      .submit{
        cursor: pointer;
        margin-left: -25px;
        margin-top: -5px;
        height: 42px;
        width: 129px;
        background: #F1F3F2;
        border: 1px solid #4B9200;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #4B9200;
        }
      }
    }
  }
  .donate{
    position: absolute;
    margin-top: 160px;
    margin-left: 220px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    h1{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  .social{
    position: absolute;
    margin-top: 259px;
    margin-left: 221px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .each{
      width: 110px;
      font-family: 'Roboto';
      font-style: normal;
      margin-bottom: 10px;
      a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        .bg-elips{
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background: rgba(196, 196, 196, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .social-name{
          width: 73px;
          height: 21px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          font-weight: 400;
          color: #FFFFFF;
        }
      }

    }
  }
  .footer-bar{
    position: absolute;
    margin-left: 617px;
    margin-top: 372px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    a {
      cursor: pointer;
      text-decoration: none;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
    }
  }
  .designed-by{
    position: absolute;
    margin-top: 350px;
    margin-left: 1152px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    width: 260px;
    p{
      font-size: 16px;
      line-height: 130%;
      color: #FFFFFF;
      margin-top: -7px;
    }
  }
}

@media (max-width: 1599px) {
  footer{
    width: 100%;
    margin-top: 0%;
    margin-left: 0;
    .foot-logo-href{
      .logo-rectang{
        margin-left: 3%;
      }
    }
    .subscribe{
      margin-left: 58%;
    }
    .donate{
      margin-left: 3%;
    }
    .social{
      margin-left: 3%;
    }
    .footer-bar{
      margin-left: 33%;
      width: 33%;
    }
    .designed-by{
      margin-left: 75%;
    }
  }
}

@media (max-width: 999px) {
  footer{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 282px;
    .foot-logo-href{
      .logo-rectang{
        margin-top: 2%;
        margin-left: 2%;
      }
    }
    .subscribe{
      display: none;
    }
    .donate{
      margin-top: 16%;
      margin-left: 2%;
    }
    .social{
      margin-left: 94%;
      margin-top: 2%;
      .each{
        margin-bottom: 18%;
        a{
          .social-name{
            display: none;
          }
        }
      }
    }
    .footer-bar{
      width: 48%;
      margin-left: 2%;
      margin-top: 40%;
    }
    .designed-by{
      margin-left: 61.5%;
      margin-top: 36%;
    }
  }
}

@media (max-width: 639px) {
  footer{
    width: 100%;
    height: 334px;
    margin-left: 0;
    margin-top: 0;
    .foot-logo-href{
      .logo-rectang{
        margin-left: 16%;
        margin-top: 6%;
        border: none;
        .logo-text{
          width: 200px;
          font-size: 19px;
          .bamboo{
            margin-left: 90%;
            margin-top: -5%;
          }
        }
      }
    }
    .donate{
      margin-top: 42%;
      margin-left: 1%;
    }
    .social{
      flex-direction: row;
      margin-left: 18%;
      width: 75%;
      margin-top: 24%;
    }
    .footer-bar{
      margin-top: 96%;
      margin-left: 5%;
      width: 90%;
    }
    .designed-by{
      margin-top: 73%;
      margin-left: 29%;
      p{
        font-weight: 100;
        font-size: 15px;
      }
    }
  }
}