.header-title {
  color: rgba(38, 18, 47, 0.77);
  font-weight: 700;
  margin-left: 2%;
}

.garage-header {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.garage-header .race-all-button {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.garage-header .race-all-button .race-all-img {
  width: 60%;
}
.garage-header .race-all-button .race-all-text {
  margin-top: -1%;
}
.garage-header .reset-button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.garage-header .reset-button img {
  width: 130%;
}
.garage-header .reset-button h1 {
  width: 5%;
  position: absolute;
  font-weight: 900;
  font-size: 18px;
  color: rgba(20, 117, 26, 0.77);
}
.garage-header .reset-button:hover img {
  animation: ani 3s linear infinite;
}
@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.garage-header .form-block {
  margin-left: 2%;
  margin-bottom: 5%;
  background: #6a08d2;
  box-shadow: 3px 5px 10px #2b2459;
  border-radius: 10px;
  width: 25%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.garage-header .form-block form {
  margin-left: 8%;
}
.garage-header .form-block form input {
  margin-right: 3%;
  margin-bottom: 3%;
}
.garage-header .form-block form button {
  background: forestgreen;
  border: none;
  box-shadow: 3px 5px 10px #074207;
  margin-bottom: 4%;
  color: white;
  cursor: pointer;
}
.garage-header .form-block form button:hover {
  box-shadow: 3px 5px 10px rgba(7, 66, 7, 0.32);
}

.win-banner {
  position: fixed;
  z-index: 10;
  left: 35%;
  top: 20%;
  width: 400px;
  height: 300px;
  background: #d7063e;
  border-radius: 15px;
  box-shadow: 5px 10px 10px #520606;
  display: none;
  flex-direction: column;
  align-items: center;
}
.win-banner .win-banner-text {
  width: 80%;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: #2b2459;
  text-align: center;
  line-height: 35px;
}
.win-banner .win-banner-img {
  width: 50%;
}

.garage-block {
  width: 100%;
}
.garage-block .car-block {
  margin-bottom: 2%;
}
.garage-block .car-block .info-buttons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.garage-block .car-block .info-buttons button {
  font-weight: 300;
  font-size: 16px;
  color: white;
  background: blueviolet;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 5px 10px #1f1a56;
  width: 30%;
  height: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.garage-block .car-block .info-buttons .car-name {
  width: 30%;
  margin-left: 5%;
  color: rgba(38, 18, 47, 0.77);
}
.garage-block .car-block .info-buttons .selected {
  box-shadow: 1px 2px 10px #1f1a56;
}
.garage-block .car-block .info-buttons button:hover {
  width: 32%;
  font-size: 18px;
}
.garage-block .car-block .control-buttons {
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 9%;
}
.garage-block .car-block .control-buttons button {
  width: 40%;
  font-weight: 300;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  height: 25px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.garage-block .car-block .control-buttons button:hover {
  width: 45%;
  font-size: 16px;
}
.garage-block .car-block .control-buttons .start-button {
  background: forestgreen;
  box-shadow: 3px 5px 10px #054605;
}
.garage-block .car-block .control-buttons .stop-button {
  background: #d7063e;
  box-shadow: 3px 5px 10px #44030d;
}
.garage-block .car-block .race-images {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.garage-block .car-block .race-images .car-image {
  object-fit: cover;
  width: 7%;
  z-index: 3;
  position: relative;
  margin-top: 2%;
  margin-left: 3%;
}
.garage-block .car-block .race-images .finish-image {
  object-fit: scale-down;
  width: 7%;
  z-index: 2;
  position: relative;
  margin-top: -1%;
  margin-left: -10%;
}
.garage-block .car-block .road {
  margin-left: 1%;
  margin-top: -4%;
  position: relative;
  z-index: 1;
  width: 95%;
  height: 40px;
  background: #646161;
  transform: skewX(-50deg);
  border: 5px dashed #e5ba0d;
}

/*# sourceMappingURL=index.css.map */
