* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  font-style: normal;
  .container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.83);
    .mobile-title{
      display: none;
    }
    .game-info {
      width: 500px;
      font-size: 20px;
      margin-bottom: 2%;
      margin-left: 4%;
      .moves {
        margin-left: 50%;
      }
    }

    .main {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2{
        font-family: 'Press Start 2P', cursive;
        font-size: 50px;
      }
      .blocked {
        pointer-events: none;
      }

      .puzzle {
        position: relative;
        width: 500px;
        min-width: 300px;
        min-height: 300px;
        height: 500px;
        //background-color: white;
        background-color: rgba(175, 175, 175, 0.77);

        .puzzle-block {
          position: absolute;
          width: 125px;
          height: 125px;
          border: 1px solid rgba(175, 175, 175, 0.77);
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          color: rgba(107, 107, 107, 0.77);
          cursor: pointer;
          user-select: none;
          transition: transform 0.5s;
        }

        .puzzle-block:hover {
          font-size: 35px;
          background-color: rgb(245, 245, 245);
        }
      }

      .win {
        .puzzle-block {
          background-color: rgba(126, 236, 136, 0.99);
        }

        .puzzle-block:hover {
          background-color: rgba(126, 236, 136, 0.99);
        }
      }
    }

      .game-buttons {
        margin-left: 4%;
        margin-top: 2%;
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .play-button {
          //margin-left: 3%;
          //margin-top: 3%;
          width: 70px;
          height: 70px;
          border: 1px solid rgba(175, 175, 175, 0.77);
          border-radius: 50%;
          background-color: rgba(126, 236, 136, 0.77);
          text-align: center;
          cursor: pointer;
          font-size: 20px;
          color: rgba(107, 107, 107, 0.87);
        }

        .play-button:hover {
          font-size: 25px;
          background-color: rgba(126, 236, 136, 0.99);
        }

        .button {
          width: 100px;
          height: 65px;
          border-radius: 10px;
          background-color: #ffc400;
          border: 1px solid rgba(175, 175, 175, 0.77);

          a {
            font-size: 20px;
            text-decoration: none;
            color: rgba(107, 107, 107, 0.87);
          }
        }
        .button:hover{
          a{
            font-size: 25px;
          }
        }
      }

    .pop-up{
      transform: translateY(50%) scale(0);
      transition: 0.4s ease-in-out;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: transparent;
      z-index: 2;
      .pop-up-container{
        display: flex;
        width: 100%;
        height: 100%;
        .pop-up-body{
          margin: auto;
          width: 500px;
          background-color: white;
          border-radius: 10px;
          text-align: center;
          padding: 100px 15px 110px 15px;
          position: relative;
          .pop-up-close{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 21px;
            cursor: pointer;
          }
        }
      }
    }
    .active{
      transform: translateY(0%) scale(100%);
      background-color: rgba(0,0,0, .8);
    }
    }
}

@media (max-width: 1280px) {
  body{
    .container{
      .mobile-title{
        display: block;
        font-family: 'Press Start 2P', cursive;
        font-size: 45px;
        text-align: center;
        margin-bottom: 10%;
      }
      .game-info{
        width: 400px;
        font-size: 20px;
        margin-bottom: 2%;
        margin-left: 1%;
        .moves{
          margin-left: 40%;
        }
      }
      .main {
        justify-content: center;
        h2{
          display: none;
        }
        .puzzle {
          width: 400px;
          height: 400px;

          .puzzle-block {
            width: 100px;
            height: 100px;
          }
        }
      }
      .play-button{
        margin-left: 0;
      }
    }
  }
}


@media (max-width: 768px) {
  body{
    .container{
      .mobile-title{
        margin-bottom: 15%;
        margin-top: -5%;
      }
      .game-info{
        width: 300px;
        font-size: 20px;
        margin-bottom: 5%;
        margin-left: 3%;
        .moves{
          margin-left: 18%;
        }
      }
      .main {
        justify-content: center;
        h2{
          display: none;
        }
        .puzzle {
          margin-bottom: 5%;
          width: 300px;
          height: 300px;

          .puzzle-block {
            width: 75px;
            height: 75px;
            font-size: 40px;
          }

          .puzzle-block:hover {
            font-size: 45px;
          }
        }
      }
      .game-buttons{
        width: 230px;
        margin-left: 2%;
      }
      .pop-up{
        transform: translateY(31%) translateX(19%) scale(0);
        .pop-up-container{
          .pop-up-body{
            width: 250px;
            height: 400px;
          }
        }
      }
      .active{
        transform: translateY(0%) translateX(0%) scale(100%);
      }
    }
  }
}
